<div class="font-semibold font-title" style="margin: 10px">
    Tickets Assigned to Me
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >My computer is crashing</div>
    <div>My computer crashes every now and then...</div>
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >Low disk space</div>
    <div>I'm running out of disk space on my machine...</div>
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >Skype issue</div>
    <div>Skype is unable to make calls...</div>
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >Need access too share</div>
    <div>Can you guys provide me asscess to \\fileserver\code...</div>
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >VPN not working</div>
    <div>I cannot connect to office VPN from home...</div>
</div>

<div style="        border: solid black 1px;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        background: gainsboro;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px -2px;
        width: 15%
" >
    <div style="font-size: larger" >Problem with outlook</div>
    <div>Outlook fails to start and throws error...</div>
</div>
